@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .writing-mode-vertical {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
    }
  }
  
  